{% extends "digitalbook/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<style>
    h3{
       font-size:1.8rem;
       font-weight: bolder;
    }
</style>
<br/>
<div class="container">
    <h3 class="text-center">STOCK LEVELS UPDATE</h3>
    <form action="" method="POST"  style="border-radius: 25px;
    border: 2px solid white;  background-color: rgba(0, 0, 0, 0.4); 
   padding: 20px; font-weight:bolder; color: black; 
    width: 400px;
    height: 200px; ">
        <br/>
        {% csrf_token %}
        {{ form | crispy }}

        <input 
        type = "submit"
        value = "Update"
        style="float:right; width:120px; height:50px; font-weight:bolder; font-size:1.2rem;"
        class="btn btn-success btn" 
        type="button"/>

    </form>
</div>
{% endblock  %}