{% extends "digitalbook/base.html" %}
{% load static %}

{% block content %}

<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        font-size: 1rem;
        color: #333;
        text-align: left;
    }

    th, td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color:  #d5d1defe;
        color: #333;
        font-weight: bold;
    }

    tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tbody tr:hover {
        background-color: #f1f1f1;
    }

    thead th {
        position: sticky;
        top: 0;
        background-color:  #d5d1defe;
        color: #fff;
        border-bottom: 2px solid #007bff;
    }

    tbody {
        background-color:  #fff4;
    }
</style>
<button type="submit" class="btn btn-primary" style="width: 100px; height: 50px;"><a href="/home" style="text-decoration:none; color:white; font-weight:bolder;">Back</a></button>
<button type="submit" class="btn btn-primary" style="float:right; width: 100px; height: 50px;"><a href="" style="text-decoration:none; color:white;">Next</a></button>

<h2>Credits</h2>
<table class="table table-auto table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Customer Name</th>
            <th>Contact</th>
            <th>NIN</th>
            <th>Item Bought</th>
            <th>Quantity(Kgs)</th>
            <th>Amount</th>
            <th>Balance</th>
            <th>Date</th>
            <th>Due Date</th>
            <th>Agent</th>
        </tr>
    </thead>

    <tbody>
        {% for payment in payments %}
        <tr>
            <td>{{payment.id}}</td>
            <td>{{payment.customer_name}}</td>
            <td>{{payment.contact}}</td>
            <td>{{payment.nin}}</td>
            <td>{{payment.item_bought_on_credit}}</td>
            <td>{{payment.quantity}}</td>
            <td>UGX {{payment.amount}}</td>
            <td>UGX {{payment.balance}}</td>
            <td>{{payment.datedate_of_payment}}</td>
            <td>{{payment.due_date}}</td>
            <td>{{payment.agent}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
