{% extends 'digitalbook/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="container text-center" style="color: black; font-weight: 2.5rem;">
  <h2>Logged Out Successfully!</h2>
  <br>
  <a href="{% url 'login' %}">
    <input type="submit" value="Login Again" class="btn btn-success" style="font-weight: bolder; width:300px; height:70px; color:white; font-size: x-large;" />
  </a>
</div>

<div class="row mt-5 justify-content-center align-items-center">
  <div class="col-lg-5 text-center">
    <img src="{% static 'digitalbook/images/logo4.png' %}" alt="Happy Hoe Ltd Logo" class="img-fluid logo">
  </div>
  
{% endblock %}
